<% include partials/header %>

<div id="container">
    <h1>TO-DO List</h1>
    <form action="/<%=user._id%>/todos/new" method="POST">
        <input type="text" placeholder="Add a new ToDo" name="todo">
    </form>
    <ul>
        <%user.todos.forEach(function(todo)
        {%>
            <div id="todo_container">
                <form action="/<%=user._id%>/todos/<%=todo._id%>/delete" method="POST" >
                    <button type="submit" class="fabutton">
                        <i class="fa fa-trash-alt"></i>
                    </button>
                </form>
                <div id="todo">
                    <span><%=todo.todo%></span>
                    <form action="/<%=user._id%>/todos/<%=todo._id%>/edit?_method=PUT" method="POST" id="edit_form">
                        <input type="text" value="<%=todo.todo%>" name="todo">
                        <button id="done_button">Done</button>
                    </form> 
                </div>
            </div>
        <%})%>
    </ul>
</div>

<% include partials/footer %>